accelerate==1.13.0
aiokafka==0.13.0
alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
astroid==4.0.4
async-timeout==5.0.1
asyncpg==0.31.0
Authlib==1.6.8
av==17.0.0
azure-common==1.1.28
azure-core==1.39.0
azure-identity==1.25.2
azure-mgmt-core==1.6.0
azure-mgmt-rdbms==10.1.1
azure-mgmt-resource==25.0.0
azure-mgmt-subscription==3.1.1
babel==2.18.0
backports.asyncio.runner==1.2.0
backports.tarfile==1.2.0
backports.zstd==1.3.0
bcrypt==5.0.0
bidict==0.23.1
blinker==1.9.0
boto3==1.42.75
botocore==1.42.75
brotli==1.2.0
cachetools==7.0.5
certifi==2026.1.4
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.6
click==8.3.1
contourpy==1.3.2
cryptography==46.0.5
cuda-bindings==13.2.0
cuda-pathfinder==1.5.0
cuda-toolkit==13.0.2
cycler==0.12.1
defusedxml==0.7.1
dill==0.4.1
distlib==0.4.0
dnspython==2.8.0
email-validator==2.3.0
exceptiongroup==1.3.1
fastapi==0.135.2
filelock==3.25.2
Flask==3.1.3
flask-babel==4.0.0
Flask-Compress==1.23
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-Paranoid==0.3.0
Flask-Principal==0.4.0
Flask-Security-Too==5.7.1
Flask-SocketIO==5.6.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools==4.62.1
fsspec==2026.2.0
google-api-core==2.30.0
google-api-python-client==2.193.0
google-auth==2.49.1
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.4
googleapis-common-protos==1.73.0
greenlet==3.3.2
grpcio==1.80.0
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httplib2==0.31.2
httptools==0.7.1
httpx==0.28.1
huggingface_hub==1.8.0
identify==2.6.18
idna==3.11
inference==1.2.0
importlib_metadata==9.0.0
iniconfig==2.3.0
isodate==0.7.2
isort==8.0.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jeepney==0.9.0
Jinja2==3.1.6
jmespath==1.1.0
jsonformatter==0.3.4
keyring==25.7.0
kiwisolver==1.5.0
ldap3==2.9.1
libgravatar==1.0.4
libpass==1.9.3
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mccabe==0.7.0
mdurl==0.1.2
milvus-lite==2.5.1
more-itertools==10.8.0
mpmath==1.3.0
msal==1.35.1
msal-extensions==1.3.1
msrest==0.7.1
networkx==3.4.2
nodeenv==1.10.0
numpy==2.2.6
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
oauthlib==3.3.1
opencv-python==4.13.0.92
orjson==3.11.8
packaging==26.0
pandas==2.3.3
paramiko==3.5.1
passlib==1.7.4
peft==0.18.1
pgadmin4==9.13
pillow==12.1.1
platformdirs==4.9.4
pluggy==1.6.0
pre_commit==4.5.1
prometheus_client==0.24.1
proto-plus==1.27.1
protobuf==6.33.6
psutil==7.2.2
psycopg==3.3.3
psycopg-binary==3.3.3
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pyDeprecate==0.5.0
Pygments==2.19.2
PyJWT==2.12.1
pylint==4.0.5
pymilvus==2.6.11
PyNaCl==1.6.2
pyotp==2.9.0
pyparsing==3.3.2
pytest==9.0.2
pytest-asyncio==1.3.0
python-dateutil==2.9.0.post0
python-discovery==1.2.0
python-dotenv==1.2.2
python-engineio==4.13.1
python-socketio==5.16.1
pytz==2025.2
PyYAML==6.0.3
qrcode==8.2
regex==2026.3.32
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.3.3
-e git+https://github.com/Premaramkarthik/pipeline_opencv.git@a8a404fd681a3358b2bdd9e7a6bfa0e0cdfafcf5#egg=rtsp_camera_backend&subdirectory=backend
ruff==0.15.7
s3transfer==0.16.0
safetensors==0.7.0
scipy==1.15.3
SecretStorage==3.5.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
SQLAlchemy==2.0.48
sqlparse==0.5.5
sshtunnel==0.4.0
starlette==1.0.0
supervision==0.27.0.post2
sympy==1.14.0
tenacity==9.1.4
tokenizers==0.22.2
tomli==2.4.0
tomlkit==0.14.0
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.3
trackers==2.3.0
tritonclient==2.67.0
transformers==5.5.0
triton==3.6.0
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ua-parser==1.0.1
ua-parser-builtins==202603
uritemplate==4.2.0
urllib3==2.6.3
user-agents==2.2.0
uvicorn==0.42.0
uvloop==0.22.1
virtualenv==21.2.0
watchfiles==1.1.1
websockets==16.0
Werkzeug==3.1.7
wsproto==1.3.2
WTForms==3.2.1
zipp==3.23.0
