aiokafka
asyncpg
fastapi
numpy
opencv-python
prometheus-client
psutil
pydantic
pydantic-settings
pymilvus
supervision
tenacity
torch
torchvision
trackers
tritonclient[grpc]
ultralytics
uvicorn
uvicorn[standard]
